<mat-toolbar id="background-color">
    <div class="ml-20">
        <div class="relative">    
            <p class="absolute left-0 ml-4 text-gray-300" id="small-text">TOTAL BALANCE</p> 
            <p class="text-4xl text-center">$36,254</p>
          </div>
    </div>

    <div class="relative" id="relative-items">
        <div class="flex items-center">
        
          <button id="mat-btn" type="button" class="ml-2">
            <mat-icon id="mat-icon">call_made</mat-icon>
          </button>
          <p class="text-gray-300" id="other-texts">
            $328.32 Today, Feb 15
          </p>
        </div>
      </div>
      
    <span class="example-spacer"></span>
    <div class="flex" id="second-items">
        <button type="button" class="flex items-center text-gray-400 focus:text-gray-100 bg-transparent focus:outline-none hover:bg-purple-700 hover:text-grey-100 focus:ring-4 focus:ring-transparent focus:bg-purple-700 font-medium text-xs px-3 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-purple-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
            <mat-icon id="mat-icons" class="text-sm mr-1 text-xs">visibility</mat-icon>  
            <span class="text-xs">View Analytics</span>
        </button>
    
        <button type="button" class="flex items-center text-gray-400 focus:text-gray-100 bg-transparent focus:outline-none hover:bg-purple-700 hover:text-grey-100 focus:ring-4 focus:ring-transparent focus:bg-purple-700 font-medium text-xs px-3 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-purple-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
            <mat-icon id="mat-icons" class="text-sm mr-1 text-xs">call_made</mat-icon>  
            <span class="text-xs">Send Money</span>
        </button>
    
        <button type="button" class="flex items-center text-gray-100 focus:text-gray-100 bg-transparent focus:outline-none hover:bg-purple-700 hover:text-grey-100 focus:ring-4 focus:ring-transparent focus:bg-purple-700 font-medium text-xs px-3 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-purple-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
            <mat-icon id="mat-icons" class="text-xs mr-1 mt-2">add</mat-icon>  
            <span class="text-xs mt-[-12]">Add Money</span>
        </button>
    
        <button type="button" class="flex items-center text-gray-100 focus:text-gray-100 bg-transparent focus:outline-none hover:bg-purple-700 hover:text-grey-100 focus:ring-4 focus:ring-transparent focus:bg-purple-700 font-medium text-xs px-3 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-purple-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
            <mat-icon id="mat-icons" class="text-xs mr-1">more_horiz</mat-icon>  
        </button>
    </div>
    
  </mat-toolbar>
  