<nav class="bg-gray-800 p-4 cursor-pointer" id="background-color">
    <div class="container mx-auto flex justify-between items-center">
      <!-- <div class="text-white font-bold">My Website</div> -->
      <ul class="flex ml-2">
        <li class="mr-4">
          <a class="text-white hover:text-gray-300">
            <div class="relative">
                <button class="flex items-center focus:outline-none">
                  <div class="h-8 w-8 rounded-full overflow-hidden">
                    <img class="h-full w-full object-cover" [src]="flag" alt="Profile Picture">
                  </div>
                </button>
       </div>
        </a>
        </li>
        <li class="mr-4 mt-1">
          <a class="text-white text-gray-700">
           <span id="kite"> ♦</span>
          </a>
        </li>
        <li>
          <a class="text-white hover:text-gray-300">
            <div class="relative">
              <button class="flex items-center focus:outline-none">
                <div class="h-8 w-8 rounded-full overflow-hidden">
                  <img class="h-full w-full object-cover" [src]="framer" alt="Profile Picture">
                </div>
              </button>
     </div>
          </a>
        </li>
        <li class="ml-5 mt-1">
          <a class="text-white hover:text-gray-300">
            <span class="text-1xl">Framer</span>
          </a>
        </li>
        <li class="ml-5">
            <a class="text-white text-gray-700">
              <mat-icon id="mat-icon" class="mat-icon-flap">unfold_more</mat-icon>
            </a>
          </li>
      </ul>


      <ul class="flex space-x-2">
        <li>
            <a class="text-white hover:text-gray-300">
                <button id="mat-btn" type="button" class="text-gray-400 focus:text-gray-100 bg-purple-700 focus:outline-none hover:bg-purple-700 hover:text-grey-100 focus:ring-4 focus:ring-transparent focus:bg-purple-700 font-medium text-xs px-3 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-purple-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                    Dashboard
                </button>
            </a>
        </li>
        <li>
            <a class="text-white hover:text-gray-300">
                <button id="mat-btn" type="button" class="text-gray-400 focus:text-gray-100 bg-transparent focus:outline-none hover:bg-purple-700 hover:text-grey-100 focus:ring-4 focus:ring-transparent focus:bg-purple-700 font-medium text-xs px-3 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-purple-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                    Payments
                </button>
            </a>
        </li>
        <li>
            <a class="text-white hover:text-gray-300">
                <button id="mat-btn" type="button" class="text-gray-400 focus:text-gray-100 bg-transparent focus:outline-none hover:bg-purple-700 hover:text-grey-100 focus:ring-4 focus:ring-transparent focus:bg-purple-700 font-medium text-xs px-3 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-purple-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                    Transaction
                </button>
            </a>
        </li>
        <li>
            <a class="text-white hover:text-gray-300">
                <button id="mat-btn" type="button" class="text-gray-400 focus:text-gray-100 bg-transparent focus:outline-none hover:bg-purple-700 hover:text-grey-100 focus:ring-4 focus:ring-transparent focus:bg-purple-700 font-medium text-xs px-3 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-purple-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                    Cards
                </button>
            </a>
        </li>
        <li>
            <a class="text-white hover:text-gray-300">
                <button id="mat-btn" type="button" class="text-gray-400 focus:text-gray-100 bg-transparent focus:outline-none hover:bg-purple-700 hover:text-grey-100 focus:ring-4 focus:ring-transparent focus:bg-purple-700 font-medium text-xs px-3 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-purple-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                    Invoices
                </button>
            </a>
        </li>
        <li>
            <a class="text-white hover:text-gray-300">
                <button id="mat-btn" type="button" class="text-gray-400 focus:text-gray-100 bg-transparent focus:outline-none hover:bg-purple-700 hover:text-grey-100 focus:ring-4 focus:ring-transparent focus:bg-purple-700 font-medium text-xs px-3 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-purple-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                    Insights
                </button>
            </a>
        </li>
    </ul>
 

      <ul class="flex">
        <li class="mr-4">
          <a class="text-white hover:text-gray-300">
            <mat-icon id="mat-icon">search</mat-icon>
          </a>
        </li>
        <li class="mr-4">
          <a class="text-white hover:text-gray-300">
            <mat-icon id="mat-icon">
                notifications_none
            </mat-icon>
          </a>
        </li>
        <li>
          <a class="text-white hover:text-gray-300">
            <mat-icon id="mat-icon">
                brightness_low
            </mat-icon>
          </a>
        </li>
        <li>
            <a class="text-white hover:text-gray-300">
                <div class="relative">
                    <button class="flex items-center focus:outline-none">
                      <div class="h-8 w-8 rounded-full overflow-hidden">
                        <img class="h-full w-full object-cover" [src]="avatar" alt="Profile Picture">
                      </div>
                    </button>
                    <!-- Online Indicator -->
                    <!-- <div class="absolute bg-green-500 rounded-full h-2 w-2 border-2 border-white bottom-0 right-0"></div> -->
                    </div>
            </a>
          </li>
      </ul>
    </div>
  </nav>
  <!-- <mat-toolbar id="background-color">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon id="mat-icon">favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon >share</mat-icon>
    </button>
  </mat-toolbar> -->
  