@font-face {
    font-family: 'Euclid Circular A';
    src: url('/assets/Euclid-CircularA-Custom-Fonts/Euclid Circular A Bold Italic.ttf') format('ttf'), url('/assets/Euclid-CircularA-Custom-Fonts/Euclid Circular A Bold.ttf.ttf') format('ttf'), url('/assets/Euclid-CircularA-Custom-Fonts/Euclid Circular A Italic.ttf') format('ttf'), url('/assets/Euclid-CircularA-Custom-Fonts/Euclid Circular A Light Italic.ttf') format('ttf'), url('/assets/Euclid-CircularA-Custom-Fonts/Euclid Circular A Light.ttf') format('ttf'), url('/assets/Euclid-CircularA-Custom-Fonts/Euclid Circular A Medium Italic.ttf') format('ttf'), url('/assets/Euclid-CircularA-Custom-Fonts/Euclid Circular A Medium.ttf') format('ttf'), url('/assets/Euclid-CircularA-Custom-Fonts/Euclid Circular A Regular.ttf') format('ttf'), url('/assets/Euclid-CircularA-Custom-Fonts/Euclid Circular A SemiBold Italic.ttf') format('ttf'), url('/assets/Euclid-CircularA-Custom-Fonts/Euclid Circular A SemiBold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.example-spacer {
    flex: 1 1 auto;
  }
  

  #background-color{
    background-color: #202027;
    color: white;
    font-size: xx-small;
  }


  #mat-icon{
    font-size: small;
    margin-top: 10px;
  }


  #mat-btn{
    font-size: xx-small;
  }

  #kite{
    font-size: large;
  }