<div id="background-color" class="ml-20">
    <div class="flex items-center">
        <span>
            <a class="text-white hover:text-gray-300">
                <div class="relative">
                    <button class="flex items-center focus:outline-none">
                        <div class="h-8 w-8 rounded-full overflow-hidden">
                            <img class="h-full w-full object-cover" [src]="star" alt="Profile Picture">
                        </div>
                    </button>
                </div>
            </a>
        </span>
        <span id="overview" class="ml-2">Overview</span>
        <span id="last-thirty-days" class="text-gray-600 ml-2">Last 30 days</span>
    </div>
    
</div>