<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700  bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    <span class="text-2xl">❋</span> &nbsp; <span id="item-one">Cash Flows</span>

                </th>
                <th scope="col" class="px-6 py-3">
                    <span id="item-twos">Last 30 days</span>
                </th>

                <th scope="col" class="px-6 py-3">
                    <span class="text-purple-700" id="hyperlink">See All</span>
                </th>
            </tr>
        </thead>
        <!-- <tbody>      
        </tbody> -->
        <mat-tab-group class="w-full" id="mat-tab">
            <mat-tab label="MONEY IN"> </mat-tab>
            <mat-tab label="MONEY OUT"></mat-tab>
        </mat-tab-group>
<br>
       <div>
        <div class="mb-1 text-base font-medium text-purple-300 dark:text-purple-300 flex items-center">
            <mat-icon class="mr-1">arrow_drop_down_circle</mat-icon>
            <p class="text-black text-sm">
                Stripe &nbsp;
                <button id="mat-btn" type="button" class="text-gray-400 bg-gray-100 focus:text-gray-100 bg-gray-100 focus:outline-none hover:bg-purple-700 hover:text-gray-100 focus:ring-4 focus:ring-transparent focus:bg-purple-700 font-medium text-xs px-3 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-purple-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                    %70
                </button>
            </p>
        </div>
    
        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
            <div class="bg-purple-300 h-2.5 rounded-full dark:bg-purple-300" style="width: 45%"></div>
        </div>
       </div>

       <br>
       <div>
        <div class="mb-1 text-base font-medium text-cyan-300 dark:text-cyan-300 blue-300 flex items-center">
            <mat-icon class="mr-1">arrow_drop_down_circle</mat-icon>
            <p class="text-black text-sm">
                Crypto Academy &nbsp;
                <button id="mat-btn" type="button" class="text-gray-400 bg-gray-100 focus:text-gray-100 bg-gray-100 focus:outline-none hover:bg-cyan-300 hover:text-gray-100 focus:ring-4 focus:ring-transparent focus:bg-cyan-300 font-medium text-xs px-3 py-1.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-cyan-300 dark:hover:border-gray-600 dark:focus:ring-gray-700">
                    %20
                </button>
            </p>
        </div>
    
        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
            <div class="bg-cyan-300 h-2.5 rounded-full dark:bg-cyan-300" style="width: 25%"></div>
        </div>
       </div>
    </table>
</div>