<div class="ml-[-2]" id="background-color">

    <mat-card id="card-widths" *ngIf="showFirstGraph === true">
        <mat-card-header>
          <mat-card-title>
            <div class="relative">
                <button class="flex items-center focus:outline-none">
                  <div class="h-10 w-10 rounded-full overflow-hidden">
                    <img class="h-full w-full object-cover" [src]="user" alt="Profile Picture">
                  </div>
                </button>
             </div>
          </mat-card-title>
          <mat-card-subtitle>
            <div class="relative" id="relative-items">
                <div class="flex items-center">
                    <p class="text-black" id="other-texts">
                        BUSINESS SAVINGS
                      </p>
                  <!-- <button id="mat-btn" type="button" class="ml-2">
                    <mat-icon id="mat-icon">call_made</mat-icon>
                  </button>
                  <p class="text-black" id="other-texts">
                    12.3% 
                  </p> -->
                </div>
              </div>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions (mouseenter)="showItems = true" (mouseleave)="showItems = false">
            <p class="text-4xl text-center" id="digit">	$1,623</p>
        </mat-card-actions>
        <div class="flex items-center" >
            <div *ngIf="!showItems" id="box-button" class="cursor-pointer h-10 border border-gray-300 flex items-center justify-center mr-4">
              View Account Details
            </div>
            <div class="relative" *ngIf="!showItems">
              <button class="flex items-center focus:outline-none" (click)="showSecondCard()">
                <div class="h-16 w-16 rounded-full overflow-hidden cursor-pointer">
                  <img class="h-full w-full object-cover" [src]="button" alt="Profile Picture">
                </div>
              </button>
            </div>
          </div>
          
      </mat-card>



      <!-- agshgagsgahsghaghsgahgshas -->

<!-- 
      <div class="relative"  *ngIf="showSecondGraph === true">
        <mat-card id="card-width">
          <div class="flex justify-between">
            <div id="first-item">
                <div id="first-item">
                    <mat-card-header>
                        <mat-card-title>
                          <div class="relative">
                              <button class="flex items-center focus:outline-none">
                                <div class="h-10 w-10 rounded-full overflow-hidden">
                                  <img class="h-full w-full object-cover" [src]="user" alt="Profile Picture">
                                </div>
                              </button>
                           </div>
                        </mat-card-title>
                        <mat-card-subtitle>
                          <div class="flex items-center">
                            <div class="flex items-center">
                                <div class="relative" id="relative-items">
                                  <div class="flex items-center">
                                    <p class="text-black" id="other-texts">BUSINESS ACCOUNT
                                        <button id="mat-btn" type="button">
                                            <mat-icon id="mat-icon">call_made</mat-icon>
                                          </button>
                                          12.3% <span class="text-gray-400 ml-4">VS. &nbsp;&nbsp; LASTWEEK</span>
                                    </p>
                                </div>
                                </div>
                              </div>
                              
                          </div>
                        </mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-actions>
                          <p class="text-4xl text-center" id="digit">	$33,842</p>
                      </mat-card-actions>
                      <div class="flex items-center">
                          <div id="box-button" class="cursor-pointer h-10 border border-gray-300 flex items-center justify-center mr-4">
                            View Account Details
                          </div>
                          <div class="relative">
                            <button class="flex items-center focus:outline-none">
                              <div class="h-16 w-16 rounded-full overflow-hidden cursor-pointer">
                                <img class="h-full w-full object-cover" [src]="button" alt="Profile Picture">
                              </div>
                            </button>
                          </div>
                        </div>
                  </div>
            </div>
      
            <div id="second-item">
              <img [src]="graph" alt="graph">
            </div>
          </div>

          <button (click)="showFirstCard()" id="toggle-handle" class="absolute right-0 h-10 w-10 bg-purple-200 flex items-center justify-center rounded-full overflow-hidden">
            <img class="h-full w-full object-cover" [src]="squareImage" alt="Square Image">
          </button>
          
          <div class="absolute bottom-0 left-0 w-full h-1 bg-purple-300"></div>
        </mat-card>


      </div> -->
      
      
</div>