<div class="ml-[-2]" id="background-color">

    <mat-card id="card-widths" *ngIf="showFirstGraph === true">
        <mat-card-header>
          <mat-card-title>
            <div class="relative">
                <button class="flex items-center focus:outline-none">
                  <div class="h-10 w-10 rounded-full overflow-hidden">
                    <img class="h-full w-full object-cover" [src]="user" alt="Profile Picture">
                  </div>
                </button>
             </div>
          </mat-card-title>
          <mat-card-subtitle>
            <div class="relative" id="relative-items">
                <div class="flex items-center">
                    <p class="text-black" id="other-texts">
                        BUSINESS SAVINGS
                      </p>
                  <!-- <button id="mat-btn" type="button" class="ml-2">
                    <mat-icon id="mat-icon">call_made</mat-icon>
                  </button>
                  <p class="text-black" id="other-texts">
                    12.3% 
                  </p> -->
                </div>
              </div>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions (mouseenter)="showItems = true" (mouseleave)="showItems = false">
            <p class="text-4xl text-center" id="digit">	$1,623</p>
        </mat-card-actions>
        <div class="flex items-center" >
            <div *ngIf="!showItems" id="box-button" class="cursor-pointer h-10 border border-gray-300 flex items-center justify-center mr-4">
              View Account Details
            </div>
            <div class="relative" *ngIf="!showItems">
              <button class="flex items-center focus:outline-none" (click)="showSecondCard()">
                <div class="h-16 w-16 rounded-full overflow-hidden cursor-pointer">
                  <img class="h-full w-full object-cover" [src]="button" alt="Profile Picture">
                </div>
              </button>
            </div>
          </div>
          
      </mat-card>

      
</div>